<div class="ts-topnav__links">

  <!-- For Mobile Header -->
  <% link_to "", class: "ts-mobile-nav__button--close" do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
  
  <%= link_to "Book Talent", "#" %>
  <%= link_to "Become Talent", "#" %>
  <%= link_to "Login", "#" %>
</div>
