<!-- Top Nav -->
<nav class="ts-topnav">

  <!-- max-width wrapper -->
  <div class="ts-wrapper">

    <div class="ts-topnav__logo">
      <% link_to "/" do %>
        <h1>Talent<span>Soup</span></h1>
      <% end %>
    </div>

    <div class="ts-topnav__desktop-links">
      <%= partial "partials/nav-links" %>
    </div>

    <div class="ts-topnav__mobile-links">
      <div class="ts-hamburger-menu">
        <div class="ts-hamburger-menu__bar"></div>
      </div>
      <div class="ts-topnav__mobile-menu" style="display:none">
        <%= partial "partials/nav-links" %>
      </div>
    </div>

  </div>

</nav>

<script>
  (function () {
  	$('.ts-hamburger-menu').on('click', function() {
  		$('.ts-hamburger-menu__bar').toggleClass('animate');
      $('.ts-topnav__mobile-menu').slideToggle();
  	})
  })();
</script>
