.ts-hero
  text-align: center

  .ts-wrapper
    border-bottom: rem(1) solid $light-gray
    padding-bottom: rem(40)

.ts-banner
  display: flex
  padding: rem(40) 0

  .ts-column--4
    width: 100%
    margin: 0
    text-align: center

  .ts-column--8
    width: 100%
    margin: 0
    text-align: center

  .ts-button
    margin: 0 0 rem(20) 0

  +grid-media($tablet)
    padding: rem(80) 0

    .ts-button
      margin: 0

    .ts-column--4
      +grid-column(4)
      text-align: left

    .ts-column--8
      +grid-column(8)
      text-align: left

  &--logo
    justify-content: space-between
    border-top: rem(1) solid $light-gray
    border-bottom: rem(1) solid $light-gray
    align-items: center
    height: auto
    margin: rem(40) 0
    padding: rem(10) 0
    img
      width: 100%
      height: auto

    .ts-image-asset
      width: rem(120)
      height: rem(60)
      display: inline-flex
      justify-content: center
      align-items: center
      padding: rem(10)

    +grid-media($mobile)
      display: inline-block
      height: 100%
      margin: rem(10) 0

      .ts-image-asset
        +grid-column(6)
        height: auto


  &--background-image
    position: relative
    color: $white
    background: url('../images/talent-soup-bg.jpg') no-repeat
    background-size: cover

    h3
      color: $white

    img
      width: 100%

    .ts-column--4
      width: 100%
      +grid-media($tablet)
        +grid-column(4)

    .ts-right
      +grid-media($tablet)
        float: right
