.ts-footer
  background: $black
  padding: rem(40) 0

  .ts-column--3, .ts-column--7, .ts-column--2
    float: none
    width: 100%

  +grid-media($tablet)
    padding: rem(80) 0

    .ts-column--3
      +grid-column(3)

    .ts-column--7
      +grid-column(7)

    .ts-column--2
      +grid-column(2)

  &__logo
    h5
      color: $white
      font-size: rem(24)
      font-weight: 600
      line-height: 1
      margin: 0 0 rem(20) 0
      span
        color: $gray

      +grid-media($tablet)
        margin: 0

  .ts-row
    margin-bottom: 0

  &__links
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-direction: column

    dl, dd
      margin: 0
      padding: 0
      color: $gray

    a
      color: $gray
      margin-bottom: rem(5)
      display: inline-block
      &:hover
        color: darken($gray, 5%)

    dd
      font-weight: 600

    dt
      color: $white
      font-size: rem(20)
      font-weight: 600
      margin-bottom: rem(10)

    &--social
      color: $gray
      font-size: rem(24)
      margin: 0 rem(5)

    +grid-media($tablet)
      flex-direction: row
