// Requires Neat

$wrapper-width: (media: 1170px)
$tablet: (media: 768px)
$mobile: (media: "(max-width: 375px)")

.ts-wrapper
  max-width: rem(1070)
  margin: 0 auto
  width: 100%
  padding: 0 rem(10)

  +grid-media($wrapper-width)
    padding: 0

.ts-row
  +grid-container
  +grid-collapse
  margin-bottom: em(20)

  img
    width: 100%

  +grid-media($mobile)
    width: 100%
    margin: 0


// 1 column
.ts-column
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(1)

  +grid-media($mobile)
    +grid-column(12)

// 2 columns
.ts-column--2
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(2)

  +grid-media($mobile)
    +grid-column(12)

// 3 columns
.ts-column--3
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(3)

  +grid-media($mobile)
    +grid-column(12)

// 4 columns
.ts-column--4
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(4)

  +grid-media($mobile)
    +grid-column(12)

// 5 columns
.ts-column--5
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(5)

  +grid-media($mobile)
    +grid-column(12)

// 6 columns
.ts-column--6
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(6)

  +grid-media($mobile)
    +grid-column(12)

// 7 columns
.ts-column--7
  +grid-column(4)

  +grid-media($tablet)
    +grid-column(7)

  +grid-media($mobile)
    +grid-column(12)

// 8 columns
.ts-column--8
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(8)

  +grid-media($mobile)
    +grid-column(12)

// 9 columns
.ts-column--9
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(9)

  +grid-media($mobile)
    +grid-column(12)

// 10 columns
.ts-column--10
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(10)

  +grid-media($mobile)
    +grid-column(12)

// 11 columns
.ts-column--11
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(11)

  +grid-media($mobile)
    +grid-column(12)

// 12 columns
.ts-column--12
  +grid-column(6)

  +grid-media($tablet)
    +grid-column(12)

  +grid-media($mobile)
    +grid-column(12)
