.ts-topnav

  .ts-wrapper
    height: rem(80)
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    h1
      display: inline-flex
      color: $red
      font-size: rem(24)
      font-weight: 600
      span
        color: $black

  &__links
    a
      color: darken($med-gray, 20%)
      display: inline-flex
      margin-left: rem(80)

  &__mobile-links
    display: none

    +grid-media($desktop)
      display: block

    .ts-topnav__links
      display: none

  &__desktop-links
    display: block

    +grid-media($desktop)
      display: none

.ts-topnav__mobile-menu
  transition: all .3s

  &--active
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: $gray
    z-index: 9998

    .ts-topnav__links
      display: block
      color: $white
      padding: rem(30)

      a
        display: block
        margin: rem(10) rem(10)
        color: $white

$bar-width: rem(20)
$bar-height: rem(3)
$bar-spacing: rem(6)

.ts-hamburger-menu
  position: absolute
  top: rem(33)
  right: rem(10)
  margin: auto
  width: $bar-width
  height: $bar-height + $bar-spacing * 2
  cursor: pointer
  z-index: 9999

.ts-hamburger-menu__bar,
.ts-hamburger-menu__bar:after,
.ts-hamburger-menu__bar:before
  width: $bar-width
  height: $bar-height

.ts-hamburger-menu__bar
  position: relative
  transform: translateY($bar-spacing)
  background: $red
  transition: all 0ms 300ms
  &.animate
    background: rgba(255, 255, 255, 0)

.ts-hamburger-menu__bar:before
  content: ""
  position: absolute
  left: 0
  bottom: $bar-spacing
  background: $red
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)

.ts-hamburger-menu__bar:after
  content: ""
  position: absolute
  left: 0
  top: $bar-spacing
  background: $red
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)

.ts-hamburger-menu__bar.animate:after
  top: 0
  transform: rotate(45deg)
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)

.ts-hamburger-menu__bar.animate:before
  bottom: 0
  transform: rotate(-45deg)
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
