.ts-topnav

  .ts-wrapper
    height: rem(80)
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    h1
      display: inline-flex
      color: $red
      font-size: rem(24)
      font-weight: 600
      span
        color: $black

  &__links
    a
      color: darken($med-gray, 20%)
      display: inline-flex
      margin-left: rem(80)
