.ts-marketing-filters
  display: flex
  justify-content: center
  align-items: flex-end
  flex-direction: column

  .ts-form__label
    text-align: left
    padding-left: rem(10)

  .ts-form__input, .ts-form__select
    height: rem(50)
    border-color: $light-gray
    border-radius: 0
    border-right: none
    box-shadow: 0 rem(1) rem(2) 0 rgba(0,0,0,.11)
    width: rem(220)

  .ts-button--large
    border-radius: 0 rem(4) rem(4) 0

  div:first-of-type
    .ts-form__input
      border-radius: rem(4) 0 0 rem(4)


  +grid-media($tablet)
    flex-direction: row


  +grid-media($desktop)
    flex-direction: column

    div
      width: 100%

    .ts-form__label
      padding-left: 0

    .ts-form__input, .ts-form__select
      width: 100%
      border: 1px solid $light-gray
      border-radius: rem(4)

    div:first-of-type
      .ts-form__input, .ts-form__select
        border-radius: rem(4)

    .ts-button--large
      width: 100%
      border-radius: rem(4)
      text-align: center
      display: block

.ts-search-results

  .ts-row
    +grid-collapse

  header >
    h5
      span
        color: $tangerine
