<!-- Hero -->
<section class="ts-hero">

  <div class="ts-wrapper">

    <h2>Browse and Book Models and Actors</h2>

    <div class="ts-marketing-filters">
      <div>
        <label class="ts-form__label">Location</label>
        <input class="ts-form__input" type="text" placeholder="City/State, or Zip Code" />
      </div>
      <div>
        <label class="ts-form__label">Age</label>
        <select class="ts-form__select">
          <option value="" disabled selected hidden>Select an age range</option>
          <option value="1">0 - 10</option>
          <option value="2">11 - 20</option>
          <option value="3">21 - 30</option>
          <option value="4">31 - 40</option>
          <option value="5">41 - 50+</option>
        </select>
      </div>
      <div>
        <label class="ts-form__label">Gender</label>
        <select class="ts-form__select">
          <option value="" disabled selected hidden>Pick gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
      <input class="ts-button ts-button--primary ts-button--large" type="submit" value="Search" />
    </div>
  </div>

</section>

<section>

  <div class="ts-wrapper">

    <header class="ts-flex">
      <h3>Experience Talent</h3>
      <%= link_to "Browse All", "#" %>
    </header>

    <div class="ts-row">

      <% - 8.times do%>

        <div class="ts-column--3">

          <div class="ts-card ts-card--talent">

            <img src="https://s3.amazonaws.com/talentsoup/35841/3584148232015185-webcomp.jpg" />
            <h5>
              <span>Gina C</span>, <span>34</span>
            </h5>
            <p>
              <span>5’9”</span> · <span>135 lbs</span> · <span>Columbia, SC</span>
            </p>

          </div>

        </div>

      <% end %>

    </div>

    </div>

  </div>

</section>

<section>
  <div class="ts-wrapper">
    <div class="ts-banner ts-banner--logo">
      <div class="ts-image-asset">
        <img src="images/logos/turner.png"/>
      </div>
      <div class="ts-image-asset">
        <img style="height: 60px; width: auto" src="images/logos/theweatherchannel.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/delta.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/randstad.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/kimberlyclark.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/miller.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/spanx.png"/>
      </div>
      <div class="ts-image-asset">
        <img src="images/logos/cocacola.png"/>
      </div>
    </div>
  </div>
</section>

<section class="ts-banner">
  <div class="ts-wrapper">

    <div class="ts-row">
      <div class="ts-column--4">
        <h3>Want to peruse our talent</h3>
        <p>
          When it comes to looking your best, there are some standard tools of the trade. You will want to find the right makeup for your complexion. won’t have to make a trip back home.
        </p>
        <%= link_to "Sign Up to be Submitted", "#", class: "ts-button ts-button--large ts-button--primary-ghost" %>
      </div>
      <div class="ts-column--8">
        <img src="images/profile-tile.png" />
      </div>
    </div>
  </div>
</section>

<section class="ts-banner ts-banner--background-image">
  <div class="ts-wrapper">

    <div class="ts-row">
      <div class="ts-column--4 ts-right">
        <h3>One minute talent quote</h3>
        <p>
          When it comes to looking your best, there are some standard tools of the trade. You will want to find the right makeup for your complexion. won’t have to make a trip back home.
        </p>
        <%= link_to "Get a free quote", "#", class: "ts-button ts-button--large ts-button--primary-ghost" %>
      </div>
    </div>
  </div>

</section>
