<!-- Top Nav -->
<nav class="ts-topnav">

  <!-- max-width wrapper -->
  <div class="ts-wrapper">

    <div class="ts-topnav__logo">
      <% link_to "/" do %>
        <h1>Talent<span>Soup</span></h1>
      <% end %>
    </div>

    <div class="ts-topnav__links">
      <%= link_to "Book Talent", "#" %>
      <%= link_to "Become Talent", "#" %>
      <%= link_to "Login", "#" %>
    </div>

  </div>

</nav>

<!-- Hero -->
<section class="ts-hero">

  <div class="ts-wrapper">

    <h2>Browse and Book Models and Actors</h2>

    <div class="ts-marketing-filters">
      <div>
        <label class="ts-form__label">Location</label>
        <input class="ts-form__input" type="text" placeholder="City/State, or Zip Code" />
      </div>
      <div>
        <label class="ts-form__label">Age</label>
        <input class="ts-form__input" type="text" placeholder="Select an age range" />
      </div>
      <div>
        <label class="ts-form__label">Gender</label>
        <input class="ts-form__input" type="text" placeholder="Pick gender(s)" />
      </div>
      <input class="ts-button ts-button--primary ts-button--large" type="submit" value="Search" />
    </div>
  </div>

</section>

<section>

  <div class="ts-wrapper">

    <header class="ts-flex">
      <h3>Experience Talent</h3>
      <%= link_to "Browse All", "#" %>
    </header>

    <div class="ts-row">

      <% - 8.times do%>

        <div class="ts-column--3">

          <div class="ts-card ts-card--talent">

            <img src="https://s3.amazonaws.com/talentsoup/35841/3584148232015185-webcomp.jpg" />
            <h5>
              <span>Gina C</span>, <span>34</span>
            </h5>
            <p>
              <span>5’9”</span> · <span>135 lbs</span> · <span>Columbia, SC</span>
            </p>

          </div>

        </div>

      <% end %>

    </div>

    </div>

  </div>

</section>
